@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Rajdhani', 50px;
  font-size: 70px;
  color: rgb(255, 255, 255);
  text-shadow: 25px 25px 50px #303030;
  border-radius: 5px;
background: #292929;
box-shadow:  25px 25px 50px #222222,
-25px -25px 50px #303030;
  }

h3 {
  display: flex;
  justify-content: center;
  font-family: 'Rajdhani', 50px;
  font-size: 42px;
  color: rgb(255, 255, 255);
  
}

html {
  background-image: url('https://previews.123rf.com/images/atlantisfoto/atlantisfoto1405/atlantisfoto140500017/28029235-black-and-white-diamond-steel-plate-background.jpg');
  background-size: 155%;

}



